<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <add key="LogPath" value="c:\\inetpub\\wwwroot\\"/>
    <add key="fee" value=".00"/>
    <add key="fee_anonymous" value=".01"/>
    <add key="fee_letterwriting" value=".02"/>
    <add key="mouse_expiration_month" value=""/>
    <add key="mouse_expiration_year" value=""/>
    <add key="mouse_security_code" value=""/>
    <add key="mouse_name_on_card" value=""/>
    <add key="mouse_card_number" value=""/>
    <add key="mouse_billing_address_line1" value=""/>
    <add key="mouse_billing_city" value=""/>
    <add key="mouse_billing_state" value=""/>
    <add key="mouse_billing_zip_code" value=""/>
    <add key="mouse_billing_last_name" value=""/>
    <add key="mouse_billing_first_name" value=""/>
    <add key="mouse_billing_country" value="US"/>
    <add key="mouse_billing_phone_number" value=""/>
    <add key="mouse_amazon_retailer_credentials_email" value=""/>
    <add key="mouse_amazon_retailer_credentials_password" value=""/>
  </appSettings>
</configuration>