<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <appSettings>
    <!-- Set the credentials for your Microsoft SQL Server Here -->
    <add key="DatabaseHost" value="pool.biblepay.org"/>
    <add key="DatabaseUser" value="sql_username"/>
    <add key="DatabasePass" value="sql_pass/>
    <!-- Backup Database Server -->
    <add key="SAN" value="\\UNC\\OF\\SAN\\"/>
    <add key="WebSite" value="http://pool.biblepay.org/"/>
    <add key="DatabaseName" value="biblepaypool"/>
    <add key="PollThreshhold" value="14000"/>
    <add key="LogPath" value="c:\\inetpub\\wwwroot\\"/>
    <add key="PoolReceiveAddress_main" value="B6..."/>
    <add key="PoolReceiveAddress_test" value="yadZ..."/>
    <add key="PoolReceiveAddress_regtest" value="regtest..."/>
    <!-- Set the credentials for your classic pool biblepayd rpc here -->
    <add key="AdminUser" value="admin_username"/>
    <!-- Set the key for the operator name and friendly info: -->
    <add key="OperatedBy" value="www.biblepay.org"/>
    <add key="OwnerEmail" value="contact@biblepay.org"/>
    <add key="RPCURLtest" value="http://fqdnsname.biblepay.org:port_test"/>
    <add key="RPCUsertest" value="rpc_username_test"/>
    <add key="RPCPasstest" value="test_rpc_password"/>
    <add key="RPCURLmain" value="http://prodfqdnsname.biblepay.org:prod_port_rpc"/>
    <add key="RPCUsermain" value="rpc_user_prod"/>
    <add key="RPCPassmain" value="rpc_password_prod"/>
    <add key="fee" value=".00"/>
    <add key="fee_anonymous" value=".01"/>
    <add key="fee_letterwriting" value=".02"/>
    <!-- MAIL CREDENTIALS -->

    <add key="smtpuser" value="mailbox_name@gmail.com" />
    <add key="smtpport" value="587" />
    <add key="smtpserver" value="smtp.gmail.com" />
    <add key="smtppassword" value="mailbox_password" />
    <add key="smtpreplyto" value="senderusername@biblepay.org" />

  </appSettings>
</configuration>